@import './styles.scss';


.dashboard{
    background-color: $grey-1;
    height: 100vh;
    padding-top:40px;
    padding-left: 40px;
    padding-right: 40px;
    
}

.card{
    background-color: $white;
    width: 100%;
    &__img{
        
        img{
            min-width: 200px;
            min-height: 140px;
            max-width: 360px;
            width: 100%;
        }
    }
    &__title{
        text-align: center;
        display: block;
        padding-top: 15px;
        padding-bottom: 20px;
        h1{
            margin: 0;
            font-family: $openSans;
            font-weight: 400;
            font-size: xx-large;
        }
        h2{
            margin: 0;
            font-family: $droid;
            font-size: medium;
            font-weight: 400;
        }
        span{
            color: $grey-2;
        }

    }
    &__media{
        display: flex;
    }
    &__buttom{
        position: relative;
        width: 50%;
        height: 40px;
        background-color: $white;
        border-top: 1px solid $grey-2;
        border-bottom: 1px solid $grey-2;
        border-right: 1px solid $grey-2;
        h1{
            font-family: $brandonGrotesqueR;
            font-weight: 400;
            color: $grey-2;
            font-size: 20px;
            margin: 0;
            margin-top: 6px;
        }
        &--like{
            position: absolute;
            top: 5px;
            right: 40px;
            width: 30px;
            height: 30px;
            color: $white;
            background-color: $grey-3;
            border-radius: 20px;
            transform: scaleX(-1);
            svg{
                padding: 6px;
            }

        }
        &--repost{
            position: absolute;
            top: 5px;
            left: 40px;
            width: 30px;
            height: 30px;
            color: $white;
            background-color: $grey-3;
            border-radius: 20px;
            transform: scaleX(-1);
            svg{
                padding: 6.5px;
            }
            h1{
                text-align: right;
            }
        }
        &--text{
            text-align: center;
            &--left{
                text-align: left;
                margin-left: 30px;
            }
            &--right{
                text-align: right;
                margin-right: 30px;
            }

    }
}
}
.borde-izq{
    border-left: 1px solid $grey-2;
}



