// Colors

$white: #ffffff;

$powergreen: #83f3c6;

$powerblue: #43C6FF;

$error:#c91023;

$grey-1:#f6f6f6;
$grey-2:#e2e2e2;
$grey-3:#c2c2bd;
$grey-4: #b6b6b4;
$grey-5: #383838;

$black: #0000;


// Fonts

$droid: 'Droid Serif';
$arial: 'Arial, Helvetica', sans-serif;
$openSans: 'Open Sans', sans-serif;
$brandonGrotesqueR: 'Brandon Grotesque Regular', sans-serif;

// Globals
html{
  background-color: $grey-1;
}
body{
  margin: 0;
}
