// Colors

$white: #ffffff;

$powergreen: #83f3c6;

$grey-1:#f6f6f6;
$grey-2:#c2c2bd;
$grey-3: #b6b6b4;
$grey-4: #383838;

$black: #0000;


// Fonts

$droid: 'Droid Serif';
$arial: 'Arial, Helvetica', sans-serif;
$openSans: 'Open Sans', sans-serif;
$brandonGrotesqueR: 'Brandon Grotesque Regular', sans-serif;

// Globals
body{
  margin: 0;
}
